/**
 * Base files.
 */
/**
 * Colors.
 */
/**
* Fonts.
*/
/**
 * Base.
 */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-synthesis: none;
  margin: 0;
  text-rendering: optimizeLegibility;
  -webkit-text-size-adjust: 100%;
  overflow-x: hidden;
  color: #FAFAFA;
  background: radial-gradient(circle, rgb(30, 53, 86) 0%, rgb(25, 36, 68) 100%);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  width: 100%;
  height: 100vh;
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "PT Sans", sans-serif;
}

a {
  text-decoration: none;
}

img {
  height: auto;
  max-width: 100%;
  width: 100%;
}

ul,
ol {
  list-style-type: none;
  padding: 0;
}

.container {
  width: 768px;
  margin: 2rem auto;
  max-width: 90%;
}

/**
* Modules files.
*/
header.header {
  border: 0.5px solid rgba(250, 250, 250, 0.5);
  border-radius: 8px;
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
}
header.header h1 {
  background: url("../images/logo.svg") center no-repeat;
  background-size: cover;
  text-indent: -9999px;
  overflow: hidden;
  width: 160px;
  height: 100px;
}
header.header .scoreContainer {
  background: #FAFAFA;
  border-radius: 8px;
  text-align: center;
  color: #192444;
  text-transform: uppercase;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  padding: 1rem 2.5rem;
}
header.header .scoreContainer p {
  width: 100%;
  letter-spacing: 2px;
}
header.header .scoreContainer p#scoreDisplay {
  font-size: 2rem;
  font-weight: 700;
  color: #58546B;
}

.optionsContainer {
  width: 70%;
  background: url("../images/bg-triangle.svg") center no-repeat;
  margin: 4rem auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.optionsContainer.hide {
  display: none;
}

.user-input {
  width: 10rem;
  height: 10rem;
  outline: none;
  border-radius: 100%;
  text-indent: -9999px;
  margin: auto;
  box-shadow: 0 2px 1px 3px rgba(88, 84, 107, 0.25) inset;
  cursor: pointer;
}
.user-input img {
  width: 100%;
}
.user-input:nth-child(3) {
  grid-column-start: span 3;
}
.user-input.rock {
  border: 1.5rem solid #DF405C;
  background: #FAFAFA url("../images/icon-rock.svg") center no-repeat;
}
.user-input.paper {
  border: 1.5rem solid #5673F5;
  background: #FAFAFA url("../images/icon-paper.svg") center no-repeat;
}
.user-input.scissors {
  border: 1.5rem solid #E8A823;
  background: #FAFAFA url("../images/icon-scissors.svg") center no-repeat;
}

#displayResults {
  display: flex;
  gap: 2rem;
  justify-content: center;
  align-items: center;
  margin: 4rem 0;
}
#displayResults.hide {
  display: none;
}
#displayResults.hide .user-input {
  display: none;
}
#displayResults p {
  font-weight: 700;
  text-align: center;
  font-size: 1.5rem;
}
#displayResultsText p {
  font-size: 2rem;
}
#displayResults .user-input {
  width: 14rem;
  height: 14rem;
  margin-top: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
#displayResults .user-input img {
  width: 50%;
}

button#refreshButton {
  color: #DF405C;
  padding: 1rem 4rem;
  border-radius: 8px;
  background: #FAFAFA;
  outline: none;
  border: none;
  cursor: pointer;
  margin-top: 0.5rem;
  font-weight: 700;
}

.rulesWrapper {
  transition: all 0.3s ease;
}
.rulesWrapper.show {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
}
.rulesWrapper.show #rulesContainer {
  width: 25%;
  background: #FAFAFA;
  border-radius: 8px;
  padding: 1rem;
  display: block;
}
.rulesWrapper.show #rulesContainer .modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.rulesWrapper.show #rulesContainer .modal-header h2 {
  color: #192444;
}
.rulesWrapper.show #rulesContainer .modal-header img {
  width: 1rem;
  height: 1rem;
  cursor: pointer;
}
.rulesWrapper.show #rulesContainer .modal-body {
  margin-top: 2rem;
}
.rulesWrapper.show #rulesContainer .modal-body img {
  width: 100%;
}
.rulesWrapper #rulesContainer {
  display: none;
}

.btn-outline {
  border: 1px solid #FAFAFA;
  border-radius: 8px;
  text-transform: uppercase;
  background: none;
  color: #FAFAFA;
  padding: 0.5rem 1rem;
  letter-spacing: 3px;
  cursor: pointer;
}
.btn-outline.rules {
  position: fixed;
  bottom: 2rem;
  right: 2rem;
}/*# sourceMappingURL=style.css.map */